.web-header {
  background-color: #0d0f12;
  padding: 25px;
  color: white;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;    
  justify-content: space-between;
}

.web-header a{
  transition: color 0.3s;  
  color : white;
  font-size: 20px;
}

.web-header span{
  font-size: 22px;
}

.web-header a:hover{
   color: #646cff;   
}

.web-header div{
  display: flex;
  gap: 20px;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.main{
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  gap: 25px;
}

.presentation{
  display: flex;
  flex-direction: row;
  align-items: center;    
  justify-content: center;
}

.presentation img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 50px;
}

.information {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.information h1,
.information h2,
.information p {
  margin: 10px;
}

.information h1{
  font-size: 62px;
}

.information h2{
  font-size: 32px;
}

.information p{
  width: 500px;
  font-size: 22px;
}

.personal-info {
  background-color: #242424;
  border-radius: 15px;
  transition: transform 0.5s;
}

.personal-info:hover {
  transform: translateY(-5px);
}

.tecnologies-info {
  display: flex;
  flex-direction: column;
  align-items: center;    
  background-color: #242424;
  border-radius: 15px;
  transition: transform 0.5s;
  gap: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

.links-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
}

.location-info {
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 4px;
}

.link-info{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
  margin-top: -20px;
}

.link img{
  transition: transform 0.5s;
  border-radius: 15px;
  width: 40px;
  height: 40px;
}

.link img:hover{
  transform: translateY(-5px);
}

.year-info{
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 5px;
  width: 100%;
}

hr {
  border: none;
  border-top: 1px solid #34363a;
  margin: 20px 0;
  width: 100%;
}

.name-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 7px;
  
}

.links-info img {
  width: 27px;
  height: 27px;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  border-color: #646cffaa;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
