@media only screen and (max-width: 707px) {

  @media screen and (orientation: portrait) {
   
    .education-info {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translateY(-20px);
        animation: aparecerAbajo 0.7s ease forwards;
 
    }
 
    .education-info h2 {
      font-family: 'Inter', sans-serif;
      font-size: 32px;
      font-weight: bold;
      background: var(--color-text-sections);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;    
    }
   
    .education-info span {
      font-size: 18px;
      margin-top: -15px;
      color: var(--color-font-normal-text);
      width: 320px;
    } 

    .timeline {
      padding-top: 35px;
      padding-block-end: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      transform: translateY(-20px);
      animation: aparecerAbajo 0.7s ease forwards;
    }

    .timeline::before {
    content: "";
    position: absolute;

    left: 2cap;
    top: 40px;
    bottom: 25px;

    width: 2px;

    background: linear-gradient(
        to bottom,
        var(--color-hover-links),
        var(--color-hover-links)
    );
    }

    .timeline-item {
    position: relative;
    padding-left: 50px;
    }

    .timeline-dot {
    position: absolute;

    left: 11px;
    top: 45%;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background: var(--color-menu-mobile);
    border: 2px solid var(--color-hover-links);

    }

    .timeline-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--color-background-tecnologies);
        border: 1px solid var(--color-contorno);
        backdrop-filter: blur(10px);
        padding: 1.5rem;
        border-radius: 20px;
        transition: .3s;
        width: 225px;
    }

    .timeline-card:hover {
        transform: translateY(-5px);
    }

    .year {
    color: var(--color-tecnologies-icons);
    font-weight: 600;
    }

    .timeline-card h3 {
    margin: .5rem 0;
    color: var(--color-font-normal-text);
    }

    .timeline-card p {
    color: var(--color-font-little-text);
    width: 200px;
    }
 
    .language-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-block-end: 40px;
        transform: translateY(-20px);
        animation: aparecerAbajo 0.7s ease forwards;
    }
 
    .language-skills h2 {
      font-family: 'Inter', sans-serif;
      font-size: 32px;
      font-weight: bold;
      background: var(--color-text-sections);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;    
    }
   
    .language-skills > span {
      font-size: 18px;
      margin-top: -15px;
      color: var(--color-font-normal-text);
      width: 340px;
      padding-block-end: 20px;
    }     
    
      @keyframes aparecerAbajo {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
   
  .languages-card {
      width: 360px;
      box-sizing: border-box;
      padding: 25px 25px;
      border: 1px solid var(--color-contorno);
      border-radius: 24px;
      background: var(--color-background-tecnologies);
      backdrop-filter: blur(10px);
      transition: .5s;
  }

  .languages-card:hover {
        transform: translateY(-5px);
    }


  /* =========================
    LANGUAGE ROW
  ========================= */

  .language-row {
      display: grid;

      grid-template-columns: 90px 1fr ;

      align-items: center;

      column-gap: 55px;

      margin-bottom: 20px;

      text-align: left;
  }

  .language-row:last-child {
      margin-bottom: 0;
  }


  /* =========================
    LANGUAGE NAME
  ========================= */

  .language-name {
      font-size: 20px;
      font-weight: 600;
      color: var(--color-font-normal-text);
  }

  /* =========================
    PROGRESS BAR
  ========================= */

  .progress-container {
      width: 100%;
      height: 17px;
      overflow: hidden;
      border-radius: 999px;
      background: var(--color-contorno);
  }


  /* Barra que se rellena */

  .progress-bar {
      width: var(--progress);
      height: 100%;
      border-radius: 999px;
      background: var(--color-text-sections);
      transform-origin: left;
      animation: fillProgress 1.5s ease forwards;
  }


  /* =========================
    LEVEL
  ========================= */

  .language-level {
      display: flex;
      flex-direction: column;
      gap: 3px;
      text-align: left;
  }


  /* IMPORTANTE:
    ya no usamos .language-skills span
    para estos elementos
  */

  .language-level span {
      width: auto;

      margin: 0;
      padding: 0;

      font-size: 18px;
      font-weight: 600;

      background: var(--color-text-sections);

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }


  .language-level small {
      font-size: 15px;
      background: var(--color-font-little-text);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

   @keyframes fillProgress {
      from {
          width: 0;
      }

      to {
          width: var(--progress);
      }
  }

  }


}

@media only screen and (min-width: 707px) {

    .education-info {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translateY(-20px);
        animation: aparecerAbajo 0.7s ease forwards;
 
    }
 
    .education-info h2 {
      font-family: 'Inter', sans-serif;
      font-size: 36px;
      font-weight: bold;
      background: var(--color-text-sections);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;    
    }
   
    .education-info span {
      font-size: 20px;
      margin-top: -15px;
      color: var(--color-font-normal-text);
      width: 900px;
    } 

    .timeline {
      padding-top: 35px;
      padding-block-end: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      transform: translateY(-20px);
      animation: aparecerAbajo 0.7s ease forwards;
    }

    .timeline::before {
    content: "";
    position: absolute;

    left: 60px;
    top: 40px;
    bottom: 25px;

    width: 2px;

    background: linear-gradient(
        to bottom,
        var(--color-hover-links),
        var(--color-hover-links)
    );
    }

    .timeline-item {
    position: relative;
    padding-left: 70px;
    }

    .timeline-dot {
    position: absolute;

    left: 49px;
    top: 45%;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background: var(--color-menu-mobile);
    border: 2px solid var(--color-hover-links);

    }

    .timeline-card {
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--color-background-tecnologies);
        border: 1px solid var(--color-contorno);
        backdrop-filter: blur(10px);
        padding: 1.5rem;
        border-radius: 20px;
        transition: .5s;
        width: 600px;
    }

    .timeline-card:hover {
        transform: translateY(-5px);
    }

    .year {
    color: var(--color-tecnologies-icons);
    font-weight: 600;
    }

    .timeline-card h3 {
    margin: .5rem 0;
    color: var(--color-font-normal-text);
    }

    .timeline-card p {
    color: var(--color-font-little-text);
    width: 500px;
    }
 

  .language-skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 60px;
      transform: translateY(-20px);
      animation: aparecerAbajo 0.7s ease forwards;
  }

  .language-skills h2 {
      font-family: 'Inter', sans-serif;
      font-size: 36px;
      font-weight: bold;

      background: var(--color-text-sections);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
  }

  .language-skills > span {
      font-size: 20px;
      margin-top: -15px;
      color: var(--color-font-normal-text);
      width: 900px;
      padding-bottom: 20px;
  }

  .languages-card {
      width: 630px;
      box-sizing: border-box;
      padding: 30px 35px;
      border: 1px solid var(--color-contorno);
      border-radius: 24px;
      background: var(--color-background-tecnologies);
      backdrop-filter: blur(10px);
      transition: .5s;
  }

  .languages-card:hover {
        transform: translateY(-5px);
    }


  /* =========================
    LANGUAGE ROW
  ========================= */

  .language-row {
      display: grid;

      grid-template-columns: 85px 1fr 120px;

      align-items: center;

      column-gap: 30px;

      margin-bottom: 20px;

      text-align: left;
  }

  .language-row:last-child {
      margin-bottom: 0;
  }


  /* =========================
    LANGUAGE NAME
  ========================= */

  .language-name {
      font-size: 20px;
      font-weight: 600;
      color: var(--color-font-normal-text);
  }

  /* =========================
    PROGRESS BAR
  ========================= */

  .progress-container {
      width: 100%;
      height: 18px;
      overflow: hidden;
      border-radius: 999px;
      background: var(--color-contorno);
  }


  /* Barra que se rellena */

  .progress-bar {
      width: var(--progress);
      height: 100%;
      border-radius: 999px;
      background: var(--color-text-sections);
      transform-origin: left;
      animation: fillProgress 1.5s ease forwards;
  }


  /* =========================
    LEVEL
  ========================= */

  .language-level {
      display: flex;
      flex-direction: column;
      gap: 3px;
      text-align: left;
  }


  /* IMPORTANTE:
    ya no usamos .language-skills span
    para estos elementos
  */

  .language-level span {
      width: auto;

      margin: 0;
      padding: 0;

      font-size: 18px;
      font-weight: 600;

      background: var(--color-text-sections);

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }


  .language-level small {
      font-size: 15px;
      background: var(--color-font-little-text);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }


  /* =========================
    ANIMACIÓN
  ========================= */

  @keyframes fillProgress {
      from {
          width: 0;
      }

      to {
          width: var(--progress);
      }
  }
}
