* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #0d0f12;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-header: rgba(255, 255, 255, 0.02);
  --color-footer: rgba(255, 255, 255, 0.02);
  --color-text-sections: linear-gradient(90deg, #646cff, #61dafb);
  --color-background-information : #1a1c1f;
  --color-background-tecnologies: #1e1e1e;
  --color-font-little-text: rgba(255, 255, 255, 0.6);
  --color-font-normal-text: white;
  --color-hover-links: #646cff;
  --color-tecnologies-icons: #63a3fd;
  --color-menu-mobile: #0d0f12;

}

[data-theme="light"] {
font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f5f5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-header:rgba(0, 0, 0, 0.05);
  --color-footer: rgba(0, 0, 0, 0.05);
  --color-text-sections: black;
  --color-background-information: #eef0f3;
  --color-background-tecnologies: #eaeaea;
  --color-font-little-text: rgba(0, 0, 0, 0.6);
  --color-font-normal-text: black;
  --color-hover-links: #3b47e6;
  --color-tecnologies-icons: black;
  --color-menu-mobile: #f5f5f5;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background: linear-gradient(90deg, #646cff, #61dafb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

small{
  font-size: 1.1em;
  line-height: 1.5;
  background: linear-gradient(90deg, #646cff, #61dafb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

p{
  font-size: 1.1em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
}


